.calculator-body {
  width: 240px;
  height: 370px;
  background-color: rgb(27, 26, 26);
}

.calculator-buttons {
  background-color: rgb(54, 54, 54);
  color: white;
  width: 45px;
  height: 45px;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  border: none;
  border-radius: 1rem;
  font-size: 22px;
  display: flex;  
  justify-content: center; 
  align-items: center;
}
.calculator-buttons:hover{
  background-color: rgb(87, 87, 87);
  color: white;
}

.calculator-screen {
  display: flex;
  flex-direction: column;  /* Cambia la dirección de los elementos a columna */
  justify-content: flex-end;  /* Alinea el contenido al final (abajo) */
  align-items: flex-end;  /* Alinea el contenido al borde derecho */
  height: 70px;
  width: 100%; 
  margin-bottom: 10px;
  background-color: black;
  padding-right: 10px; 
}

.calculator-result {
  text-align: right;  /* Alinea el texto a la derecha */
  width: 100%;
  font-size: 40px;
  color: white;

}

.equal-button {
  background-color: rgb(255, 116, 3);
  font-size: 22px;
 
}

.equal-button:hover {
  background-color: rgb(255, 153, 69);
  color: white;

}


.other-buttons {
  background-color: rgb(133, 133, 133);
  font-size: 20px;
  font-weight:600 ;
  
}
.other-buttons:hover {
  background-color: rgb(187, 187, 187);
  color: white;
}

.history-button-icon {
  text-decoration: rgb(255, 116, 3) !important;
}
